<a href="<%= @player["link"] %>"><h1><%= @player["name"] %></h1></a>

<p><%= @player["last_name"] %></p>
<% @player.values.each do |item| %>
<ul>
  <li><%= item %></li>
</ul>
<%end%>

<form action="/players" method="POST">
    <label>Comments<br>
      <textarea name="review" cols="120" rows="10"></textarea><br>
    </label>

    <label> Add picture<br>
      <input type="url" name="picture" size="50"><br>
    </label>

    <label> Add video<br>
      <input type="url" name="video" size="50">
    </label>
    <br>

    <input type="submit" value="Create">
</form>

<p><%= @agent["last_name"] %></p>
<% @agent.values.each do |item| %>
<ul>
  <li><%= item %></li>
</ul>
<%end%>

<form action="/agents" method="POST">
  <label>Add Picture<br>
    <input type="url" name="picture" size="50"><br>
  </label>

  <label> Add video<br>
    <input type="url" name="video" size="50">
  </label>
    <br>
    <input type="submit" value="Create">
</form>


<h1> Home </h1>

